In [1]:
import pandas as pd
import numpy as np

noble_gas = pd.Series(["He","Ne","Ar","Kr","Xe","Rn"])
noble_gas.index = [2,10,18,36,54,86]
noble_gas.name = "Nobel Gas"

noble_gas

2     He
10    Ne
18    Ar
36    Kr
54    Xe
86    Rn
Name: Nobel Gas, dtype: object

In [2]:
even_numbers = pd.Series([2,4,6,8,10])
even_numbers

0     2
1     4
2     6
3     8
4    10
dtype: int64

### `Series.T` to transpose the Series
- Return the transpose, which is by definition self.

In [3]:
noble_gas.T

2     He
10    Ne
18    Ar
36    Kr
54    Xe
86    Rn
Name: Nobel Gas, dtype: object

In [4]:
even_numbers.T

0     2
1     4
2     6
3     8
4    10
dtype: int64

### `Series.array` to return PandasArray
- For regular NumPy types like int, and float, a PandasArray is returned.

In [10]:
noble_gas.array

<PandasArray>
['He', 'Ne', 'Ar', 'Kr', 'Xe', 'Rn']
Length: 6, dtype: object

In [11]:
type(noble_gas.array)

pandas.core.arrays.numpy_.PandasArray

In [8]:
even_numbers.array

<PandasArray>
[2, 4, 6, 8, 10]
Length: 5, dtype: int64

### `Series.values` to return the values as np.array

#### Easy way to convert pandas Series to numpy Array

In [13]:
noble_gas.values

array(['He', 'Ne', 'Ar', 'Kr', 'Xe', 'Rn'], dtype=object)

In [15]:
type(noble_gas.values)

numpy.ndarray

In [14]:
even_numbers.values

array([ 2,  4,  6,  8, 10])

### `Series.at` to access a single value by a label

In [16]:
noble_gas.at[18]

'Ar'

### `Series.iat` to access a single value by integer position

In [18]:
noble_gas.iat[2]

'Ar'

### `Series.loc`

- Access a group of rows and columns by label(s) or a boolean array.

In [ ]:
noble_gas.loc[18]

In [19]:
noble_gas.loc[[2,10]]

2     He
10    Ne
Name: Nobel Gas, dtype: object

In [24]:
mask = even_numbers.apply(lambda i : True if i%2==0 else False)
mask

0    True
1    True
2    True
3    True
4    True
dtype: bool

In [27]:
even_numbers.loc[mask]

0     2
1     4
2     6
3     8
4    10
dtype: int64

### `Series.iloc`

- Purely integer-location based indexing for selection by position.

In [28]:
noble_gas.iloc[2]

'Ar'

In [29]:
noble_gas.iloc[[0,1,2]]

2     He
10    Ne
18    Ar
Name: Nobel Gas, dtype: object

### `Series.attrs`

In [30]:
noble_gas.attrs

{}

In [31]:
even_numbers.attrs

{}

### `Series.axes` to return a list of the row axis labels

In [32]:
noble_gas.axes

[Int64Index([2, 10, 18, 36, 54, 86], dtype='int64')]

In [33]:
even_numbers.axes

[RangeIndex(start=0, stop=5, step=1)]

### `Series.dtype` to return the data type of a Series

In [34]:
noble_gas.dtype

dtype('O')

In [35]:
even_numbers.dtype

dtype('int64')

### `Series.dtypes`

In [36]:
noble_gas.dtypes

dtype('O')

In [37]:
even_numbers.dtypes

dtype('int64')

### `Series.hasnans` to return True if a Series contains Nan and False if a Series doesn't contains Nan

In [38]:
noble_gas.hasnans

False

In [39]:
even_numbers.hasnans

False

### `Series.index`

- The index (axis labels) of the Series.

In [40]:
noble_gas.index

Int64Index([2, 10, 18, 36, 54, 86], dtype='int64')

In [41]:
even_numbers.index

RangeIndex(start=0, stop=5, step=1)

### `Series.is_monotonic` and `Series.is_monotonic_increasing`

In [42]:
noble_gas.is_monotonic

False

In [43]:
even_numbers.is_monotonic

True

### `Series.is_monotonic_decreasing`

In [44]:
noble_gas.is_monotonic_decreasing

False

In [45]:
even_numbers.is_monotonic_decreasing

False

### `Series.is_unique`

In [46]:
noble_gas.is_unique

True

In [47]:
even_numbers.is_unique

True

### `Series.name`
- Return the name of the Series.

In [48]:
noble_gas.name

'Nobel Gas'

 ### `Series.nbytes`
 - Return the number of bytes in the underlying data.

In [49]:
noble_gas.nbytes

48

In [50]:
even_numbers.nbytes

40

### `Series.ndim`

- Number of dimensions of the underlying data, by definition 1.

In [51]:
noble_gas.ndim

1

### `Series.shape`

- Return a tuple of the shape of the underlying data.

In [52]:
noble_gas.shape

(6,)

### `Series.size`

- Return the number of elements in the underlying data.

In [53]:
noble_gas.size

6