In [2]:
import pandas as pd
import numpy as np

noble_gas = pd.Series(["He","Ne","Ar","Kr","Xe","Rn"])
noble_gas.index = [2,10,18,36,54,86]
noble_gas.name = "Nobel Gas"

noble_gas

2     He
10    Ne
18    Ar
36    Kr
54    Xe
86    Rn
Name: Nobel Gas, dtype: object

In [35]:
even_numbers = pd.Series([2,4,6,8,10])
even_numbers

0     2
1     4
2     6
3     8
4    10
dtype: int64

### `Series.T`
- Return the transpose, which is by definition self.

In [3]:
noble_gas.T

2     He
10    Ne
18    Ar
36    Kr
54    Xe
86    Rn
Name: Nobel Gas, dtype: object

In [38]:
even_numbers.T

0     2
1     4
2     6
3     8
4    10
dtype: int64

### `Series.array`
- For regular NumPy types like int, and float, a PandasArray is returned.

In [4]:
noble_gas.array

<PandasArray>
['He', 'Ne', 'Ar', 'Kr', 'Xe', 'Rn']
Length: 6, dtype: object

In [40]:
even_numbers.array

<PandasArray>
[2, 4, 6, 8, 10]
Length: 5, dtype: int64

### `Series.values`

- Return Series as ndarray or ndarray-like depending on the dtype.

In [30]:
noble_gas.values

array(['He', 'Ne', 'Ar', 'Kr', 'Xe', 'Rn'], dtype=object)

In [44]:
even_numbers.values

array([ 2,  4,  6,  8, 10])

### `Series.at`
- Access a single value using a label.

In [6]:
noble_gas.at[18]

'Ar'

### `Series.iat`

- Access a single value for a row/column pair by integer position.

In [32]:
noble_gas.iat[2]

'Ar'

### `Series.loc`

- Access a group of rows and columns by label(s) or a boolean array.

In [20]:
noble_gas.loc[18]

'Ar'

In [21]:
noble_gas.loc[[2,10]]

2     He
10    Ne
Name: Nobel Gas, dtype: object

### `Series.iloc`

- Purely integer-location based indexing for selection by position.

In [33]:
noble_gas.iloc[2]

'Ar'

In [34]:
noble_gas.iloc[[0,1,2]]

2     He
10    Ne
18    Ar
Name: Nobel Gas, dtype: object

### `Series.attrs`

In [7]:
noble_gas.attrs

{}

In [36]:
even_numbers.attrs

{}

### `Series.axes`

- Return a list of the row axis labels.

In [8]:
noble_gas.axes

[Int64Index([2, 10, 18, 36, 54, 86], dtype='int64')]

In [37]:
even_numbers.axes

[RangeIndex(start=0, stop=5, step=1)]

### `Series.dtype`

In [9]:
noble_gas.dtype

dtype('O')

In [45]:
even_numbers.dtype

dtype('int64')

### `Series.dtypes`

In [10]:
noble_gas.dtypes

dtype('O')

In [46]:
even_numbers.dtypes

dtype('int64')

### `Series.hasnans`

In [11]:
noble_gas.hasnans

False

In [47]:
even_numbers.hasnans

False

### `Series.index`

- The index (axis labels) of the Series.

In [14]:
noble_gas.index

Int64Index([2, 10, 18, 36, 54, 86], dtype='int64')

In [48]:
even_numbers.index

RangeIndex(start=0, stop=5, step=1)

### `Series.is_monotonic` and `Series.is_monotonic_increasing`

In [15]:
noble_gas.is_monotonic

False

In [49]:
even_numbers.is_monotonic

True

### `Series.is_monotonic_decreasing`

In [17]:
noble_gas.is_monotonic_decreasing

False

In [50]:
even_numbers.is_monotonic_decreasing

False

### `is_unique`

In [18]:
noble_gas.is_unique

True

In [51]:
even_numbers.is_unique

True

### `Series.name`
- Return the name of the Series.

In [22]:
noble_gas.name

'Nobel Gas'

 ### `Series.nbytes`
 - Return the number of bytes in the underlying data.

In [23]:
noble_gas.nbytes

48

In [52]:
even_numbers.nbytes

40

### `Series.ndim`

- Number of dimensions of the underlying data, by definition 1.

In [24]:
noble_gas.ndim

1

### `Series.shape`

- Return a tuple of the shape of the underlying data.

In [25]:
noble_gas.shape

(6,)

### `Series.size`

- Return the number of elements in the underlying data.

In [26]:
noble_gas.size

6