In [4]:
import pandas as pd
import numpy as np

### `Series.abs()`
- Return a Series/DataFrame with absolute numeric value of each element
- This function only applies to elements that are all numeric

In [5]:
s = pd.Series([-1.10, 2, -3.33, 4])
s

0   -1.10
1    2.00
2   -3.33
3    4.00
dtype: float64

In [6]:
s.abs()

0    1.10
1    2.00
2    3.33
3    4.00
dtype: float64

### `Series.add(other, fill_value, level)`

- Return Addition of series and other, element-wise.
- Equivalent to `series + other`, but with support to substitute a `fill_value` for missing data in either one of the input

In [15]:
a = pd.Series([1, 1, 1, np.nan], index=['a', 'b', 'c', 'd'])
b = pd.Series([1, np.nan, 1, np.nan], index=['a', 'b', 'd', 'e'])
print(a)
print(b)

a    1.0
b    1.0
c    1.0
d    NaN
dtype: float64
a    1.0
b    NaN
d    1.0
e    NaN
dtype: float64

In [16]:
# Number + NaN = NaN

a + b

a    2.0
b    NaN
c    NaN
d    NaN
e    NaN
dtype: float64

In [17]:
a.add(b)

a    2.0
b    NaN
c    NaN
d    NaN
e    NaN
dtype: float64

In [20]:
a.add(b, fill_value = 0)

a    2.0
b    1.0
c    1.0
d    1.0
e    NaN
dtype: float64

In [21]:
a.add(b, fill_value = 10)

a     2.0
b    11.0
c    11.0
d    11.0
e     NaN
dtype: float64

### `Series.add_prefix(str)`

- Returns new Series or DataFrame with updated labels.
- For Series, the row labels are prefixed.
- For DataFrame, the column labels are prefixed.

In [22]:
s = pd.Series([1, 2, 3, 4])
s

0    1
1    2
2    3
3    4
dtype: int64

In [25]:
s.add_prefix('item_')

item_0    1
item_1    2
item_2    3
item_3    4
dtype: int64

### `Series.add_suffix(str)`

- Returns new Series or DataFrame with updated labels.
- For Series, the row labels are prefixed.
- For DataFrame, the column labels are prefixed.

In [26]:
s = pd.Series([1, 2, 3, 4])
s

0    1
1    2
2    3
3    4
dtype: int64

In [27]:
s.add_suffix("_item")

0_item    1
1_item    2
2_item    3
3_item    4
dtype: int64

### `Series.agg(func=None, axis=0,*args, **kwargs)`

- Accepted combinations are:
    - function
    - string function name
    - list of functions and/or function names
    - dict of axis labels -> functions, function names or list of such.
    
- Return: scalar, Series or DataFrame.
    - scalar : when Series.agg is called with single function
    - Series : when DataFrame.agg is called with a single function
    - DataFrame : when DataFrame.agg is called with several functions

### Example of Chaining Aggregation Fucntions

In [28]:
s = pd.Series([1, 2, 3, 4])
s

0    1
1    2
2    3
3    4
dtype: int64

In [56]:
s.agg(['min','max','median',np.sum])

min       -4.0
max       -1.0
median    -2.5
sum      -10.0
dtype: float64

In [50]:
type(s.agg(['min','max','median',np.sum]))

pandas.core.series.Series

### Example of Chaining Tranform Functions

In [33]:
s = pd.Series([-1, -2, -3, -4])
s

0   -1
1   -2
2   -3
3   -4
dtype: int64

In [60]:
def add_one(x):
    return x+1

s.agg([add_one, 'abs'])

   add_one  abs
0        0    1
1       -1    2
2       -2    3
3       -3    4

In [63]:
s.agg([lambda i: i + 1,'abs'])

   <lambda>  abs
0         0    1
1        -1    2
2        -2    3
3        -3    4

In [51]:
type(s.agg([add_one, 'abs']))

pandas.core.frame.DataFrame

### `Series.all(axis = 0, bool_value = None, skipna=True, level=None, **kwargs)`