In [63]:
import pandas as pd
import numpy as np

noble_gas = pd.Series(["He","Ne","Ar","Kr","Xe","Rn"])
noble_gas.index = [2,10,18,36,54,86]
noble_gas.name = "Nobel Gas"

print(noble_gas)

alkali_metals = pd.Series(["Lithium","Sodum","Potassium","Bubidum","Caesium","Francium"])
alkali_metals.index = [3,11,19,37,55,87]
alkali_metals.name  = "Alkali Metals"

print(alkali_metals)

2     He
10    Ne
18    Ar
36    Kr
54    Xe
86    Rn
Name: Nobel Gas, dtype: object
3       Lithium
11        Sodum
19    Potassium
37      Bubidum
55      Caesium
87     Francium
Name: Alkali Metals, dtype: object

### `Series.abs()`
- Return a Series/DataFrame with absolute numeric value of each element
- This function only applies to elements that are all numeric
- Return Type Error when a series having string element(s)

In [2]:
s = pd.Series([-1.10, 2, -3.33, 4])
s

0   -1.10
1    2.00
2   -3.33
3    4.00
dtype: float64

In [3]:
s.abs()

0    1.10
1    2.00
2    3.33
3    4.00
dtype: float64

In [5]:
s = pd.Series([-1.10, "a", -3.33, 4])
s

0    -1.1
1       a
2   -3.33
3       4
dtype: object

In [6]:
s.abs()

TypeError: bad operand type for abs(): 'str'

### `Series.add(other, fill_value, level)`

- Return Addition of series and other, element-wise.
- Equivalent to `series + other`, but with support to substitute a `fill_value` for missing data in either one of the input

In [8]:
a = pd.Series([1, 1, 1, np.nan], index=['a', 'b', 'c', 'd'])
b = pd.Series([1, np.nan, 1, np.nan], index=['a', 'b', 'd', 'e'])
print(a)
print(b)

a    1.0
b    1.0
c    1.0
d    NaN
dtype: float64
a    1.0
b    NaN
d    1.0
e    NaN
dtype: float64

In [9]:
# Number + NaN = NaN

a + b

a    2.0
b    NaN
c    NaN
d    NaN
e    NaN
dtype: float64

In [10]:
a.add(b)

a    2.0
b    NaN
c    NaN
d    NaN
e    NaN
dtype: float64

In [11]:
a.add(b, fill_value = 0)

a    2.0
b    1.0
c    1.0
d    1.0
e    NaN
dtype: float64

In [12]:
a.add(b, fill_value = 10)

a     2.0
b    11.0
c    11.0
d    11.0
e     NaN
dtype: float64

### `Series.add_prefix(str)`

- Returns new Series or DataFrame with updated labels.
- For Series, the row labels are prefixed.
- For DataFrame, the column labels are prefixed.

In [13]:
s = pd.Series([1, 2, 3, 4])
s.index

RangeIndex(start=0, stop=4, step=1)

In [14]:
s1 = s.add_prefix('item_')
s1.index

Index(['item_0', 'item_1', 'item_2', 'item_3'], dtype='object')

### `Series.add_suffix(str)`

- Returns new Series or DataFrame with updated labels.
- For Series, the row labels are suffixed.
- For DataFrame, the column labels are suffixed.

In [15]:
s = pd.Series([1, 2, 3, 4])
s.index

RangeIndex(start=0, stop=4, step=1)

In [16]:
s1 = s.add_suffix("_item")
s1.index

Index(['0_item', '1_item', '2_item', '3_item'], dtype='object')

### `Series.agg(func=None, axis=0,*args, **kwargs)`

- Accepted combinations are:
    - function
    - string function name
    - list of functions and/or function names
    - dict of axis labels -> functions, function names or list of such.
    
- Return: scalar, Series or DataFrame.
    - scalar : when Series.agg is called with single function
    - Series : when DataFrame.agg is called with a single function
    - DataFrame : when DataFrame.agg is called with several functions

### Example 1: method and build-in function (aggregation functions)

In [17]:
s = pd.Series([1, 2, 3, 4])
s

0    1
1    2
2    3
3    4
dtype: int64

In [18]:
s.agg(['min','max','median',np.sum])

min        1.0
max        4.0
median     2.5
sum       10.0
dtype: float64

In [19]:
type(s.agg(['min','max','median',np.sum]))

pandas.core.series.Series

### Example 2: defined function and method: transform functions

In [20]:
s = pd.Series([-1, -2, -3, -4])
s

0   -1
1   -2
2   -3
3   -4
dtype: int64

In [21]:
def add_one(x):
    return x+1

s.agg([add_one, 'abs'])

   add_one  abs
0        0    1
1       -1    2
2       -2    3
3       -3    4

In [22]:
type(s.agg([add_one, 'abs']))

pandas.core.frame.DataFrame

### Example 3: lambda and method

In [23]:
s.agg([lambda i: i + 1,'abs'])

   <lambda>  abs
0         0    1
1        -1    2
2        -2    3
3        -3    4

In [24]:
type(s.agg([add_one, 'abs']))

pandas.core.frame.DataFrame

### `Series/DataFrame.all()` to check whether all elements are True
Parameters:
- axis
    - 0/'index'(defaul)
    - 1/'columns'
    - None
- bool_only
- skipna
- level
- **kwargs

In [25]:
s = pd.Series([True, True])
s.all()

True

In [26]:
s = pd.Series([True, False])
s.all()

False

### How about empty series?

In [27]:
s = pd.Series([])
s.all()

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

True

### How about series with only nan values?

In [28]:
s = pd.Series([np.nan])
s.all()

True

In [29]:
s = pd.Series([np.nan])
s.all(skipna = False)

True

### How about dataframe?

In [30]:
# Create a dataframe from a dictionary. 

df = pd.DataFrame({'col1': [True, True], 'col2': [True, False]})
df

   col1   col2
0  True   True
1  True  False

Default behavior checks if coloumn-size values all return True

In [31]:
df.all()

col1     True
col2    False
dtype: bool

Specify axis = 'columns' checks if row-size values all return True

In [32]:
df.all(axis = 'columns')

0     True
1    False
dtype: bool

Specify axis = None for Whether every value is True

In [33]:
df.all(axis = None)

False

### `Series.append()` to concatenate two or more Series

Parameters: 
- to_append: series ot list/tuple of Series
- ignore_index
- verify_integrity

Returns:
- dtype: Series

In [34]:
s1 = pd.Series([1, 2, 3])
s2 = pd.Series([4, 5, 6])
s3 = pd.Series([4, 5, 6], index=['a','b','c'])

In [35]:
s1.append(s2)

0    1
1    2
2    3
0    4
1    5
2    6
dtype: int64

#### The index is reset if specify ignore_index = True

In [36]:
s1.append(s2,ignore_index=True)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [37]:
s1.append(s3)

0    1
1    2
2    3
a    4
b    5
c    6
dtype: int64

#### The index is reset if specify ignore_index = True

In [38]:
s1.append(s3,ignore_index=True)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

#### Return ValueError due to the overlapping index

In [39]:
# s1.append(s2, verify_integrity = True)

In [40]:
s1.append(s3, verify_integrity = True)

0    1
1    2
2    3
a    4
b    5
c    6
dtype: int64

### `Series.argmax/argmin` to return the integer position of the largest/smallest value in the Series

If the maximum/minimum is achieved in multiple locations, the first row postion is returned. 

Parameter: 
- skinpa = default True
- args
- kwargs

### Compare to `Series.max()` and `Series.min()`

In [47]:
s = pd.Series({'Corn Flakes': 100.0, 'Almond Delight': 110.0,
               'Cinnamon Toast Crunch': 120.0, 'Cocoa Puff': 100.0})
s.name = "Cereal"
s

Corn Flakes              100.0
Almond Delight           110.0
Cinnamon Toast Crunch    120.0
Cocoa Puff               100.0
Name: Cereal, dtype: float64

In [48]:
s.argmax()

2

In [49]:
s.argmin()

0

### `Series.argsort()` to return the integer indices that would sort the Series values. Then the results can be used to sort the Series in a ascending order

Better option: `Series.sort_values()`

In [62]:
s = pd.Series([5,4,3,2,1])
s

0    5
1    4
2    3
3    2
4    1
dtype: int64

In [63]:
result = s.argsort()
result

0    4
1    3
2    2
3    1
4    0
dtype: int64

In [69]:
s[result]

4    1
3    2
2    3
1    4
0    5
dtype: int64

In [72]:
s.sort_values()

4    1
3    2
2    3
1    4
0    5
dtype: int64

In [77]:
# Creating the Series 
s = pd.Series([11, 21, 8, 18, 65, 18, 32, 10, 5, 32, None]) 
  
# Create the Index 
# apply yearly frequency 
index_ = pd.date_range('2010-10-09 08:45', periods = 11, freq ='Y') 
  
# set the index 
s.index = index_ 
  
# Print the series 
print(s)

2010-12-31 08:45:00    11.0
2011-12-31 08:45:00    21.0
2012-12-31 08:45:00     8.0
2013-12-31 08:45:00    18.0
2014-12-31 08:45:00    65.0
2015-12-31 08:45:00    18.0
2016-12-31 08:45:00    32.0
2017-12-31 08:45:00    10.0
2018-12-31 08:45:00     5.0
2019-12-31 08:45:00    32.0
2020-12-31 08:45:00     NaN
Freq: A-DEC, dtype: float64

In [78]:
s.sort_values()

2018-12-31 08:45:00     5.0
2012-12-31 08:45:00     8.0
2017-12-31 08:45:00    10.0
2010-12-31 08:45:00    11.0
2013-12-31 08:45:00    18.0
2015-12-31 08:45:00    18.0
2011-12-31 08:45:00    21.0
2016-12-31 08:45:00    32.0
2019-12-31 08:45:00    32.0
2014-12-31 08:45:00    65.0
2020-12-31 08:45:00     NaN
dtype: float64

# Indexing, iteration

### `Series.get()` to get item from object for given key, same as `Series.loc`
- index
- function
- boolean series

In [18]:
noble_gas

2     He
10    Ne
18    Ar
36    Kr
54    Xe
86    Rn
Name: Nobel Gas, dtype: object

In [81]:
# Get item through index

noble_gas.get(key=[2,10])

2     He
10    Ne
Name: Nobel Gas, dtype: object

In [79]:
noble_gas.loc[[2,10]]

2     He
10    Ne
Name: Nobel Gas, dtype: object

In [13]:
# Get the item through function

noble_gas.get(key=max(noble_gas.index))

'Rn'

In [75]:
noble_gas.loc[max(noble_gas.index)]

'Rn'

In [29]:
# Get the items through boolean series, similar to 

boolean_series = noble_gas.str.contains("e")
print(boolean_series)

noble_gas.get(key=boolean_series)

2      True
10     True
18    False
36    False
54     True
86    False
Name: Nobel Gas, dtype: bool

2     He
10    Ne
54    Xe
Name: Nobel Gas, dtype: object

In [76]:
noble_gas.loc[boolean_series]

2     He
10    Ne
54    Xe
Name: Nobel Gas, dtype: object

### Pleae find the demo of `Series.at/.iat/.loc/.iloc` in pandas_series_attributes

### `Series.items()/iteritems()` to returns an iterable tuple (index, value)

a list of tuples that can be iterated

In [47]:
noble_gas.items()

In [46]:
list(noble_gas.items())

[(2, 'He'), (10, 'Ne'), (18, 'Ar'), (36, 'Kr'), (54, 'Xe'), (86, 'Rn')]

In [48]:
for x in noble_gas.items():
    print(x)

(2, 'He')
(10, 'Ne')
(18, 'Ar')
(36, 'Kr')
(54, 'Xe')
(86, 'Rn')

In [50]:
for x, y in noble_gas.items():
    print(x,y)

2 He
10 Ne
18 Ar
36 Kr
54 Xe
86 Rn

In [51]:
noble_gas.iteritems()

In [52]:
list(noble_gas.iteritems())

[(2, 'He'), (10, 'Ne'), (18, 'Ar'), (36, 'Kr'), (54, 'Xe'), (86, 'Rn')]

### `Series.keys()` to return index of the Series, same as Series.index

In [53]:
noble_gas.keys()

Int64Index([2, 10, 18, 36, 54, 86], dtype='int64')

In [54]:
noble_gas.index

Int64Index([2, 10, 18, 36, 54, 86], dtype='int64')

### `Series.pop()` to return item and drops from series. Raise KeyError if not found

In [60]:
noble_gas_new = noble_gas
noble_gas_new

2     He
10    Ne
18    Ar
36    Kr
54    Xe
86    Rn
Name: Nobel Gas, dtype: object

In [61]:
noble_gas_new.pop(10)

'Ne'

In [64]:
noble_gas_new

2     He
18    Ar
36    Kr
54    Xe
86    Rn
Name: Nobel Gas, dtype: object

### `Series.item()`

In [69]:
noble_gas_He = noble_gas.head(1)
noble_gas_He

2    He
Name: Nobel Gas, dtype: object

In [70]:
noble_gas_He.item()

'He'

### `Series.xs()` similar to `Series.at`

In [101]:
noble_gas.xs(2)

'He'